# Data files
Data/Cleaned/*
Data/Raw/*

# API Data
Data/LibreLink/*
Data/Whoop/*
Data/Garmin/*
Data/MFP/*
Data/Fitbit/*

# Credentials and tokens
Credentials.env
fitbit_tokens.json
*.json

# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/